---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---

<header class="lg:flex padding-y-large gap-5">
  <Astronav>
    <div
      class="flex w-full lg:justify-between justify-start flex-col lg:flex-row items-baseline margin-x-small"
    >
      <div class="text-5xl">
        <strong>Trauma Dump</strong>
      </div>
      <div id="menu-list">
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>

        <MenuItems class="hidden lg:flex">
          <ul class="flex flex-col lg:flex-row lg:gap-5 list-none lar">
            <li><a href="/about">About</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/campaigns/short-story">Stories</a></li>
            <li><a href="/campaigns">Campaigns</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/gm">GM</a></li>
            <li><a href="/type">Campaign Type</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li>
              <a href="https://www.patreon.com/susansilver" target="_blank"
                >Patreon</a
              >
            </li>
            <li>
              <a
                href="mailto:suzza@susansilver.net"
                class="p-3 bg-blue-brand rounded-xl text-white-50 visited:text-white-50 hover:text-primary-900"
                >Contact</a
              >
            </li>
          </ul>
        </MenuItems>
      </div>
    </div>
  </Astronav>
</header>
